{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Acheampong</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Ashantiking" />
	<!-- Favicon icon -->
	<link rel="icon" href="{% static 'assets/images/favicon.ico'%}" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
	
	


</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{% static 'assets/images/logo-dark.png'%}" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">Signin</h4>
						<div class="form-group ">
							
								<button class="btn btn-block btn-primary mb-4"><a href=" {% url 'login' %} ">Click Here to Login</a></button> 
							
						</div>
						<div class="custom-control custom-checkbox text-left mb-4 mt-2">
							<input type="checkbox" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1">Save credentials.</label>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

<!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/ripple.js'%}"></script>
<script src="{% static 'assets/js/pcoded.min.js'%}"></script>



</body>

</html>
